@model IEnumerable<RoomModel>
<p></p>

@if (ViewBag.Data != null)
{
    <h4 class="text-center alert alert-success alert-heading"> @ViewBag.Data</h4>
}
<div class="align-content-center text-center">
    <a asp-action="Room" asp-controller="Admin" class="btn btn-sm btn-info">All</a>
    <a asp-action="InActiveRoom" asp-controller="Admin" class="btn btn-sm btn-success">In Active</a>
</div>
<hr />
<h6 class="text-center card-header">
  Active  Rooms
</h6>
@if (Model.Any())
{
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Room Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var dat in Model)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@dat.RoomName</p>
                    </td>
                    @if (dat.Statuse == true)
                    {
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge badge-danger rounded-pill d-inline">In Active</span>
                        </td>
                    }
                    @if (dat.Statuse == true)
                    {
                        <td>
                            <a asp-route-Id="@dat.RoomId" asp-route-Statuse="@dat.Statuse" asp-action="RoomStatuse" class="btn btn-danger btn-sm">De-Active</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-route-Id="@dat.RoomId" asp-route-Statuse="@dat.Statuse" asp-action="RoomStatuse" class="btn btn-info btn-sm">Active</a>
                        </td>
                    }

                </tr>
            }



        </tbody>


    </table>
}
else
{
    <div class="card-body">
        <div class="card-header">The is no data to show</div>
    </div>
}
