@model IEnumerable<RequestModel>
@{
    ViewData["Title"] = "Request List";
}
<h4 class="text-center">My Request</h4>
<hr />
@if (ViewBag.Data != null)
{
    <div class="alert alert-success alert-success fade show">
        <strong>Request was successfull !</strong>
        @ViewBag.Data
    </div>
}
@if (Model.Any())
{
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>RequestDescription</th>
                <th>RequestTime</th>
                <th>Module</th>
                <th>Computer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var dat in Model)
            {
            <tr>
                <td>
                    <p class="fw-normal mb-1">@dat.RequestDescription</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">@dat.RequestTime</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        <select disabled asp-for="@dat.ModuleId" class="dropdown-item alert alert-primary small" asp-items=" ViewBag.ModuleId"></select>
                    </p>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        <select disabled asp-for="@dat.ComputerId" class="dropdown-item alert alert-primary small" asp-items=" ViewBag.ComputerId"></select>
                    </p>
                </td>

                <td>
                    <a asp-route-Id="@dat.RequestId" asp-action="Close" asp-controller="Home" class="btn btn-info btn-sm">Close</a>
                </td>

            </tr>
            }



        </tbody>


    </table>
}
else
{
    <div class="card">
        <div class="card-body">The is no available Request</div>
    </div>
}